*{
  margin:0;
  padding:0;
}
#root{
  position:relative;
  min-height:100vh;
  background:#ccc;
}
.contain{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:40px;
  display:none;
}
